.splash-page
  .splash-text.text-center
    .container-fluid
      .row
        .col-sm-1
        .col-sm-10
          #sign-in.row
            .col-sm-12
              %h2.text-center Log in
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-inputs
                  .form-group
                    = f.input :email, required: false, label: false, placeholder: 'email', autofocus: true, input_html: { class: 'form-control form-control-sm' }
                  .form-group
                    = f.input :password, label: false, placeholder: 'Password', required: false, input_html: { class: 'form-control form-control-sm' }
                .row.pad-top
                  .col-sm-6
                    = link_to 'Back', root_url, class: 'btn btn-grey'
                  .col-sm-6
                    = f.button :submit, 'Log in', class: 'btn btn-grey'
