= link_to photo do
  .preview-container.vcenter
    = image_tag photo.featured_image.preview, class: 'image-preview'
.row
  .col-md-6.pad-top-lg
    Quantity
  .col-md-6.pad-top
    = simple_form_for photo, url: "/photos/#{photo.id}/update_cart", method: :post do |f|
      .form-group
        = f.input :quantity, label: false, input_html: { value: current_user.quantity_owned(photo), class: 'form-control' }
        = render 'photo_count', photo: photo