.row.no-pad
  - PhotoPrintSize.all.each do |size|
    .col-sm-4
      = "#{size.width} x #{size.height}"
      = simple_form_for photo, url: "/photos/#{photo.id}/update_cart?cart_only=#{@cart_only}", remote: :true, method: :post do |f|
        .form-group
          = f.input :quantity, label: false, input_html: { value: current_user.quantity_owned(photo, size), class: 'form-control  form-control-sm' }
          = f.hidden_field :size_id, value: size.id
